<footer class="footer">
  <small>
  	Voting site by Kevin
  </small>
  <nav>
    <ul>
    	<li><%= link_to "About", about_path %></li>
    	<li><a href="http://thefriedbananas.com/">The Fried Bananas</a></li>
    	<li><a href="http://shawnhershey.com/">shawnhershey.com</a></li>
    </ul>
  </nav>
</footer>
<hr>